body{
    border: 2px solid  transparent;
    margin: 0px;
    padding: 3px;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    font-family: 'Montserrat', sans-serif;
}




/*0000000000000000000000000000000000000000000000000000000000000     top     0000000000000000000000000000000000000000000000000000000000000*/
.top{
    /*background-color: pink;*/
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

/*11111logoarea*/
.trace_logo{
    margin-left: .5%;
   /*background-color: turquoise;*/
    align-self: center;
   
}
/*22222logoimg*/
.img{
    width: 15vw;
    height: auto;
}

/*1111navspace*/
.nav{
    /*background-color: violet;*/
    /*padding: 5px;*/
    margin-right: 2.5%;
    width: 70%;
    height: auto;
    align-self: center; 
}
ul{
    /*background-color: rosybrown;*/
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
}
li{
    /*background-color: salmon;*/
    padding: 0px 10px;
    
}
li a{
    /*background-color: skyblue;*/
    text-decoration: none;
    padding: .5vw 1vw;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #63068F;
}
li .act{
    background-color: #977EB3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: .5vw 1vw;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #ffffff;
}
li .act:hover{
    background-color: #977EB3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    padding: .6vw 1.1vw;
    border-radius: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #ffffff;
}
li .inact:hover{
    
    text-decoration: none;
    padding: .5vw 1vw;
    /*padding: 0vw 1vw;*/
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FF8A41;
}


/*0000000000000000000000000000000000000000000000000000000000000     body     0000000000000000000000000000000000000000000000000000000000000*/




/*0000000000000000000000000000000000000000000000000000000000000     footer     0000000000000000000000000000000000000000000000000000000000000*/
.footer_space{
    background-color: #63068F;
    margin-top: 100px;
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    
}
.footer_space div{
    /*background-color: antiquewhite;*/
    width: 85px;
    height: 23px;
    align-self: center;
    color: #ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25em;
}